
@{
    ViewBag.Title = "Archive- Index";
}

@using MvcBlog.Model
@model List<Article>


@foreach (Article item in Model)
{
    <div class="blog-post triggerAnimation animated" data-animate="slideInUp">
        <a href="/Article/Detail/@item.Id"><img alt="" src="@item.Photo.CoverPicPath"></a>
        <div class="post-content">
            <div class="post-date">
                <p><span>@item.PublishDate.Value.Day</span>@Convert.ToDateTime(item.PublishDate).ToString("MMM")</p>
            </div>
            <div class="content-data">
                <h2><a href="/Article/Detail/@item.Id">@item.ArticleName</a></h2>
                <p><a>@item.Comments.Count Yorum</a></p>
            </div>
            @if (item.ArticleContent.Length > 200)
                {
                @Html.Raw(item.ArticleContent.Substring(0, 200))
            }
            else
            {
                @Html.Raw(item.ArticleContent)
            }
            <a class="button-third" href="/Article/Detail/@item.Id">Devam et</a>
        </div>
    </div>
}

